h1 {
    font-family: 'Barlow', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    font-family: 'Slackey', cursive;
    text-align: center; 
    font-size: xx-large; 
    font-weight: bolder;
    }  
    
    p {
        font-family: 'Barlow', sans-serif;
        font-family: 'PT Sans Narrow', sans-serif;
        font-family: 'Roboto Flex', sans-serif;
        font-family: 'Slackey', cursive; 
    }