h1 {
font-family: 'Barlow', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto Flex', sans-serif;
text-align: center; 
font-size: xx-large; 
font-weight: bolder;
}  

p {
    font-family: 'Barlow', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto Flex', sans-serif;  
}

