h1 {
    font-family: 'Joan', serif;
    font-family: 'Nuosu SIL', serif;
    text-align: center; 
    font-size: xx-large; 
    font-weight: bolder;
    }  
    
    p {
        font-family: 'Joan', serif;
        font-family: 'Nuosu SIL', serif;
    }